<div class="panel panel-default" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ advertise.title}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="img"><img [src]="imageUrl" width="200" height="210" alt="" class="fl" /></div>
      </div>
      <div class="col-md-9">
        {{ advertise.content}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-10">
        <p class="spec"><a href="#" class="rm">Read more</a></p>
    </div>
  </div>
</div>
